footer{
	background: -webkit-radial-gradient(ellipse,white,#A4A4A4);
	background: -o-radial-gradient(ellipse,white,#A4A4A4);
	background: -moz-radial-gradient(ellipse,white,#A4A4A4);
	background: radial-gradient(ellipse,white,#A4A4A4);
	text-align:center;
	width:100%;
	padding: 10px;
	font-family:Georgia;
	font-size:16px;
	margin-top:20px;
}
#disqus{
	width:90%;
	margin:0px auto;
	padding:20px 0px 20px 0px;
	border-radius: 15px;
	box-shadow:1px 1px 3px rgba(20%,20%,40%,0.3),-1px 1px 3px rgba(20%,20%,40%,0.3);
}